
@{
    ViewData["Title"] = "Covid19Chart";
}


@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>//aşağıdaki siteden aldık
    <script type="text/javascript">


        $(document).ready(() => {

            var covidChartList = new Array();//https://developers.google.com/chart/interactive/docs/gallery/linechart sayfasından aldığımız hazır dizi yerine biz bir array dizi oluştururuz

            covidChartList.push(["Tarih", "İstanbul", "Ankara", "İzmir", "Konya", "Antalya"]);

            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44332/CovidHub").build();//SignalRCovidChart.API url'im + /MyHub


            connection.start()
                .then(() =>//Başarılı olursa gerçekleşecek Method
                {
                    connection.invoke("GetCovidList")
                })
                .catch((err) =>//Hata verirse gerçekleşecek method
                {
                    console.log(err);
                });

            connection.on("CovidListesiniAl", (chartList) => {

                covidChartList = covidChartList.splice(0, 1);//her güncelleme olduğunda yukarda şehir isimlerini eklediğimiz dizi haricinde hepsini silsin tekrar aşağıda yeni verileri eklesin
                chartList.forEach((item) => {

                    covidChartList.push([item.covidDate, item.counts[0], item.counts[1], item.counts[2], item.counts[3], item.counts[4]])

                });//console.log(chartCovidList); yazdırıp F12 diyip bakarsak console tarafında görürüz

                google.charts.load('current', { 'packages': ['corechart'] });//her data geldiğin chart yeniden yüklensin
                google.charts.setOnLoadCallback(drawChart);


            })

            function drawChart() {
                var data = google.visualization.arrayToDataTable(covidChartList);

                var options = {
                    title: 'Covid19 Chart',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }


        });



    </script>
}


<div id="curve_chart" style="width: 1200px; height: 800px"></div>